@font-face {
    font-family: miiversesymbols;
    src: url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.eot);
    src: url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols-IEFix.eot) format('embedded-opentype'), url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.woff) format('woff'), url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: miiversesymbols;
    src: url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.eot);
    src: url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols-IEFix.eot) format('embedded-opentype'), url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.woff) format('woff'), url(/web/20180701085750im_/https://closed.pizza/s/img/font/Symbols.ttf) format('truetype');
    font-weight: 400;
    font-style: normal
}

html.os-mac::-webkit-scrollbar {
    display: none !important
}

body.modal-open {
    position: fixed
}

body {
    position: relative;
    font-size: 28px;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #323232
}

td {
    font-size: 100%;
    font-weight: 400;
    margin: 0;
    padding: 0
}

input,
textarea {
    font-size: 24px;
    font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji, segoe ui symbol
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

ul,
ol,
menu,
li {
    list-style: none
}

a {
    color: #0080ff;
    text-decoration: none
}

img {
    border: 0;
    color: #ddd
}

input,
label,
button {
    cursor: pointer
}

.auth-input {
    border-radius: 5px;
    font-size: 20px;
    width: 175px
}

.none {
    display: none !important
}

.left {
    float: left
}

.right {
    float: right
}

.tleft {
    text-align: left
}

.tright {
    text-align: right
}

.center {
    text-align: center
}

.center-input {
    margin-top: -5px;
    margin-bottom: 8px
}

input.disabled {
    color: #969595 !important;
    cursor: default !important
}

.center-input input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    width: 96%;
    padding: 1.5%;
    border: 1px solid #969696;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -ms-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -o-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff
}

.clear {
    clear: both
}

.pointer-events-none {
    pointer-events: none
}

.trigger {
    cursor: pointer
}

.pre-line {
    white-space: pre-line
}

.red {
    color: red
}

.green {
    color: green !important
}

body {
    font-size: 14px;
    text-align: center;
    background-attachment: fixed;
    -webkit-background-size: 120px;
    -moz-background-size: 120px;
    -ms-background-size: 120px;
    -o-background-size: 120px;
    background-size: 120px;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;
    word-wrap: break-word;
    background: #e2e2e2
}

.trigger:hover {
    background-color: #f9f9f9
}

.trigger:active {
    background-color: #ddd
}

.trigger a:link:hover,
.trigger a:visited:hover,
.trigger button.report-violation-button:hover {
    text-decoration: underline
}

html body {
    font-family: helvetica, arial, sans-serif
}

html.os-win body {
    font-family: helvetica, arial, meiryo, '\30e1 \30a4 \30ea \30aa ', sans-serif
}

html.os-mac body {
    font-family: helvetica, arial, '\30d2 \30e9 \30ae \30ce \89d2 \30b4  pro w3', hiragino kaku gothic pro, sans-serif
}

html.os-win form input,
html.os-win button {
    font-family: helvetica, arial, meiryo, '\30e1 \30a4 \30ea \30aa ', sans-serif
}

.symbol:before {
    font-family: miiversesymbols, sans-serif !important;
    font-weight: 400 !important
}

.symbol span.symbol-label {
    display: none;
    *display: inline;
    *zoom: 1;
    *margin-right: 3px
}

html,
body {
    height: 100%
}

#wrapper {
    height: auto !important;
    min-height: 100%;
    position: relative;
    width: 100%;
    min-width: 320px;
    margin: auto 0;
    text-align: left;
    background-color: #f4f4f4;
    background-attachment: fixed
}

#sub-body {
    top: 0;
    width: 100%;
    height: 54px;
    position: fixed;
    z-index: 20;
    background: #fff;
    border-bottom: 2px solid #e5e5e5
}

#global-menu {
    max-width: 950px;
    margin: 0 auto;
    *zoom: 1
}

#global-menu:after {
    content: "";
    display: block;
    clear: both
}

#main-body {
    padding: 71px 0 170px !important;
    max-width: 960px;
    margin: 0 auto;
    *zoom: 1
}

#main-body:after {
    content: "";
    display: block;
    clear: both
}

.main-column {
    width: 625px;
    margin: 0 auto
}

#sidebar+.main-column {
    float: right
}

#sidebar {
    width: 320px;
    float: left
}

.post-list-outline {
    margin: 0 0 15px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    *zoom: 1
}

.post-list-outline:after {
    content: "";
    display: block;
    clear: both
}

.post-list-outline+.big-button,
.post-list-outline+.buttons-content {
    margin-bottom: 30px
}

#footer {
    background: #e2e2e2;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%
}

#wrapper.post-permlink #footer {
    position: bottom !important
}

#wrapper.guest #footer {
    bottom: -60px !important
}

#wrapper.guest-top #footer {
    bottom: -60px !important
}

#footer-inner {
    max-width: 960px;
    margin: 0 auto;
    padding: 30px 0;
    *zoom: 1
}

#footer-inner:after {
    content: "";
    display: block;
    clear: both
}

#footer-inner p {
    display: inline-block;
    padding: 0 5px
}

#footer-inner p a {
    color: #969696;
    font-size: 12px
}

#footer-inner p a:hover {
    color: #646464;
    text-decoration: underline
}

#footer-inner #copyright {
    display: block
}

.adx {
    background-color: rgba(0, 0, 0, .06);
    padding: 5px 10px 10px;
    margin-bottom: 10px;
    display: block;
    text-align: center
}

.adx .adx-label {
    padding: 0 0 1px;
    display: block;
    font-size: 12px;
    color: #969696
}

.wide-adx {
    background-color: #f6f6f6;
    padding: 5px 10px 10px;
    margin-bottom: 5px;
    clear: both;
    text-align: center
}

.wide-adx .adx-label {
    color: #969696;
    display: block;
    font-size: 12px;
    padding: 0 10px 2px
}

.link-container {
    text-align: center
}

.link-container p {
    display: inline-block;
    padding: 0 5px
}

.link-container p a {
    color: #969696;
    font-size: 12px
}

.link-container p a:hover {
    color: #646464;
    text-decoration: underline
}

.adx-link-container {
    margin-bottom: 15px
}

body:not(.is-autopagerized) .adx-link-container {
    display: none
}

.wide-adx+.link-container {
    text-align: right;
    padding: 0 5px
}

.list>li span {
    padding: 5px !important
}

.post-list.empty,
.album-list.empty,
.list>.no-content,
.no-content {
    color: #969696;
    font-size: 16px;
    display: table;
    width: 100%;
    height: 250px;
    padding: 0
}

.post-list.empty>div,
.album-list.empty>div,
.list>.no-content>div,
.no-content>div,
.post-list.empty>p,
.album-list.empty>p,
.list>.no-content>p,
.no-content>p {
    display: table-cell;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 0 30px;
    text-align: center
}

.post-list.empty>div p,
.album-list.empty>div p,
.list>.no-content>div p,
.no-content>div p {
    padding: 0;
    display: block
}

.post-list.empty.no-content-favorites,
.album-list.empty.no-content-favorites,
.list>.no-content.no-content-favorites,
.no-content.no-content-favorites {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    height: auto
}

.post-list.empty.no-content-favorites>div,
.album-list.empty.no-content-favorites>div,
.list>.no-content.no-content-favorites>div,
.no-content.no-content-favorites>div {
    padding: 20px 70px 20px 20px
}

.post-list.empty.no-content-favorites p,
.album-list.empty.no-content-favorites p,
.list>.no-content.no-content-favorites p,
.no-content.no-content-favorites p {
    text-align: left
}

#main-body>.no-content {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, .1);
    overflow: hidden;
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -o-box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    max-width: 625px;
    margin: 20px auto;
    width: 90%
}

.simple-wrapper {
    background-color: #f4f4f4;
    background-attachment: fixed;
    border: 0
}

.simple-wrapper #wrapper {
    margin-top: 0
}

.simple-wrapper #sub-body,
.simple-wrapper #footer {
    display: none
}

.simple-wrapper #cookie-policy-notice {
    top: 0
}

.simple-wrapper #main-body {
    border: 0;
    background: 0 0
}

.simple-wrapper #lector {
    border-top: 1px solid #ddd;
    margin-left: 0
}

.simple-wrapper.simple-wrapper-content #wrapper {
    margin: 50px auto 0
}

.simple-wrapper.simple-wrapper-content #main-body {
    padding: 0
}

.simple-wrapper.simple-wrapper-content #footer {
    background-color: transparent;
    position: static;
    text-align: center;
    width: auto;
    display: block
}

#memo-drawboard-page {
    user-select: none
}

#memo-drawboard-page .window {
    width: 344px
}

#memo-drawboard-page .window .window-body {
    height: 222px
}

#memo-drawboard-page .window-body .memo-buttons {
    margin-left: 10px;
    position: fixed
}

#memo-drawboard-page .memo-buttons button {
    height: 40px;
    width: 40px
}

#memo-drawboard-page button.artwork-lock {
    margin-left: -40px;
    height: 40px;
    float: right
}

#memo-drawboard-page button.selected {
    background: #0080ff
}

#memo-drawboard-page .memo-canvas {
    margin-top: 48px;
    height: 128px
}

#memo-drawboard-page .memo-canvas.zoom {
    overflow-x: scroll
}

#memo-drawboard-page .memo-canvas.locked {
    overflow: hidden
}

#memo-drawboard-page .memo-canvas #artwork-canvas {
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: optimizeSpeed;
    image-rendering: pixelated;
    border: 1px solid #0080ff
}

#memo-drawboard-page .memo-canvas canvas:not(#artwork-canvas) {
    display: none
}

#global-menu {
    position: relative
}

#global-menu #global-menu-logo {
    padding: 12px 0;
    text-align: center
}

#global-menu #global-menu-logo h1 {
    line-height: 1
}

#global-menu #global-menu-logo img {
    width: 167px;
    height: 32px
}

#global-menu #global-menu-list {
    float: right;
    padding: 0;
    *zoom: 1
}

#global-menu #global-menu-list:after {
    content: "";
    display: block;
    clear: both
}

#global-menu li {
    float: left;
    padding: 0 10px;
    line-height: 1
}

#global-menu li a,
#global-menu li button {
    position: relative;
    line-height: 1;
    color: #646464;
    background-repeat: no-repeat;
    padding: 0 5px;
    display: table
}



.list-content-with-icon-and-text .user-profile-memo-content img {
    width: 100%;
    max-width: 320px;
    vertical-align: bottom;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px
}

select {
    min-width: 80%;
    margin: 0;
    font-size: 16px;
    border: 1px solid #bbb
}

form.search {
    margin: 0 0 15px;
    text-align: left;
    background: #fff;
    border: 3px solid #e0e0e0;
    width: 100%;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

form.search input[type=text] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-shadow: none;
    border: 0;
    font-size: 16px;
    width: 86%;
    height: 32px;
    padding: 0 0 0 2%;
    line-height: 32px;
    margin: 0;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

form.search input[type=text]:focus {
    outline: 0
}

form.search input[type=submit] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background: #fff;
    background-image: none;
    border: 0;
    color: #646464;
    font-family: miiversesymbols, sans-serif !important;
    font-size: 16px;
    font-weight: 400 !important;
    height: 32px;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 12%;
    float: right;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

#post-form {
    margin: 15px;
    position: relative
}

#post-form.folded {
    margin: 15px 15px 10px
}

#post-form.folded .textarea-text {
    height: 3.4em;
    line-height: 1.2em
}

.textarea-memo img {
    margin-top: 30px;
    margin-bottom: 10px
}

#post-form.folded .feeling-selector,
#post-form.folded .multi-language-selector,
#post-form.folded .language-id-selector,
#post-form.folded .language-bodies,
#post-form.folded .spoiler-button,
#post-form.folded .select-from-album-button,
#post-form.folded .topic-categories-container,
#post-form.folded .url-form,
#post-form.folded .form-buttons,
#post-form.folded .file-button-container,
#post-form.folded .textarea-menu,
#post-form.folded .region-ids,
#post-form.folded .open-topic-post-existing-warning,
#post-form.folded.body-folded .textarea-text {
    display: none
}

#post-form+#community-post-list .list>div:first-child {
    border-top: 1px solid #ddd
}

.tutorial-window {
    background-color: rgba(255, 255, 255, .9);
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    display: box;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-box-align: center;
    -o-box-align: center;
    box-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box
}

.tutorial-window .content {
    border: 2px solid #0080ff;
    padding: 25px 20px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%
}

.tutorial-window .window-bottom-buttons {
    margin-top: 12px
}

.open-topic-post-existing-warning {
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 2
}

.open-topic-post-existing-warning+.textarea-container .textarea {
    margin: 0 0 -10px;
    outline: 0
}

.topic-title-input,
.textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    resize: vertical;
    width: 96%;
    padding: 1.8%;
    margin: 0 0 10px;
    border: 1px solid #969696;
    font-size: 16px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -moz-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -ms-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    -o-box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff;
    box-shadow: inset 0 2px 6px rgba(0, 0, 0, .12), 0 1px 0 #fff
}

.topic-title-input.with-image,
.textarea.with-image {
    padding-left: 23.8%;
    width: 74%
}

.textarea {
    height: 5.6em
}
